
<!--
<%= div_for(@students, class: "student-index-page") do %>
  <p><%= @students.first_name %> </p>
<% end %>
-->


<strong>Students:</strong><br>
<ul>
  <% @students.each do |s| %>
  <li><%= s.firstname %></li>
  <% end %>
</ul>
<br> <br>
