

<%= div_for(@students, class: "student-index-page") do %>
  <p><%= @students.first_name %> </p>
<% end %>


<h1><%= @figure.name %></h1>
<strong>Titles:</strong><br>
<ul>
  <% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
  <% end %>
</ul>
<br> <br>
